@font-face{
	font-family : "BebasNeue";
	src : url("fonts/BebasNeue Bold.otf") format('truetype');
} 
@font-face{
	font-family : "bebasNeue regular";
	src:url("fonts/BebasNeue Regular.otf") format('truetype');
}
@font-face{
	font-family : "bebasNeue book";
	src:url("fonts/BebasNeue Book.otf") format('truetype');
}
/*--------------------------------------------------------*/
body{
	margin : 0;
	background :  #9a25e6;
}

/* --------------------------------------------------------*/
/* tout ceci concerne le header de la page */
#header_nav header img{
	width : 150px;

}

#header_nav header h4{
	margin-left : 20px;
	margin-top: 0px;
	color : #646fc1;
}
#header_nav header h1{
	margin-bottom : 0px;
	color : #9a25e6;
}
#header_nav header hgroup{
	font-family: "BebasNeue";
	margin-top : 0px;
	position : relative;
	left: -20px;
}
#header_nav header{
	width : 350px;
	height : 100%;
	float:left;
}
#header_nav header a{
	float:left;
}
#header_nav header hgroup{
	float:left;
}
#header_nav{
	background-image : linear-gradient(to bottom right, white, #9a25e6);
	border-radius : 8px;
	height: 150px;
	position : relative;
	margin-bottom : 20px;
}

/* -------------------------------------------------------------------------- */

/* Tout ceci concerne le navbar */


#header_nav nav{
	height : 70px;
	float:right;
	position: absolute;
	bottom : 0;
	right : 0;
}
nav > ul > li{
	display: inline-block;
	text-align : center;
	width : 150px;
	margin-right : 80px;
	
}

nav li a {
	display : block;
	text-decoration: none;
	font-family : "BebasNeue regular";
	color : white;
	font-size : 30px;
	height: 47px;
	padding-top : 10px;
}
nav > ul > li > a:hover{
	background-image : linear-gradient(to bottom, white, white, white, #9a25e6);
	color : #9a25e6;
	border-top-left-radius : 20px;
	border-top-right-radius : 20px;
	color : #646fc1;
	font-family : "bebasNeue";
}
nav > ul > li > ul{
	display: none;
}
nav > ul > li:hover > ul{
	display : block;
	background-image: linear-gradient(to bottom, #9a25e6, white, white, white,white, white, white, white, white, white, white, white,white,white,white, white);
	padding-top : 10px;
	position : absolute;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	padding-right : 6px;
	padding : 0;
	width : 150px;
	z-index : 1;
	box-shadow: 2px 2px 10px;
}

nav > ul > li > ul > li a{
	color : #9a25e6;
	display : block;
}
nav > ul > li > ul > li a:hover{
	color : #646fc1;
	font-family : "BebasNeue";
}

nav > ul > li> ul > li{
	list-style-type:  none;
}

main{
	width : 80%;
	margin : auto;
	margin-bottom : 20px;
	overflow:hidden;
}

#LL{
	height: 400px;
	margin-top : 50px;
	margin-bottom : 30px;
}
#LLdefinition, #LLStart{
	border-radius : 8px;
	float : left;
	margin-left : 30px;
}
#LLdefinition{
	width : 40%;
	height : 100%;
	background : url('img/about-plan.jpg');
}
#LLStart{
	background : url('img/about-mission.jpg');
	width : 50%;
	height : 100%;
	position : relative;
}
#LLStart p {
	position: absolute;
	bottom : 30px;
	left : 50px;
	margin-top : 300px;
	height: 50px;
	padding : 0 !important;
	margin-bottom : 20px;
	border-radius : 10px;
}
#LLStart a{
	display: block;
	width : 100%;
	height : 100%;
	text-align : center;
	padding-top : 30px;
	text-decoration : none;
	font-family : "BebasNeue";
	color : white;
	background-image : linear-gradient(to bottom, #9a25e6, #646fc1) ;
	border-radius : 10px;
}
#LLStart a:hover{
	background-image : linear-gradient(to top, #9a25e6, #646fc1) ;
	color : cyan;
	box-shadow: 1px 1px 5px;
}
#LLdefinition p, #LLStart p{
	padding : 20px;
	background-color : rgba(255, 255, 255, 0.5);
	width : 80%;
	margin : auto;
	margin-bottom : 30px;
}
#LLdefinition h2, #LLStart h2{
	background : lightgray;
	margin-top : 0px;
	color : #646fc1;
	padding : 10px;
	font-family : "BebasNeue";
	border-top-left-radius : 8px;
	border-top-right-radius: 8px;
}

#cours{
	clear:both;
	
	background-color : white;
	border-radius : 10px;
	padding : 10px;
	margin-bottom : 20px;
}
#cours > h2{
	text-align : center;
	font-family: "BebasNeue";
	font-size : 30px;
	color : #646fc1;
	border-bottom: 3px #646fc1 solid;
	padding-bottom : 10px;
	margin-top : 5px;
}
#cours figure{
	width: 40%;
	display:inline-block;
	text-align : center;
	margin-bottom : 30px;
	margin-right : 30px;
}
#cours img, #cours figcaption{
	width : 200px;
	margin:auto;
}
#cours img{
	height : 200px;
	box-shadow : 2px 0px 10px;
}
#cours a {
	text-decoration : none;
}
#cours a:visited{
	color : blue;
}
#cours a:hover{
	color : olive;
}
#cours figcaption{
	font-family:"BebasNeue regular";
	display: block;
	background-color : lightgray;
	width : 180px;
	padding : 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	position: relative;
	top : -10px;
	box-shadow : 2px 2px 10px;
}
#cours > section{
	width : 85%;
	margin : auto;
}
main aside {
	border-radius : 10px;
	height : 300px;
}

main aside#about{
	width : 200px;
	height : 300px;
	background : url('img/3.jpg') no-repeat;
	background-size : 200px 300px;
	float : right;
}
main aside h3{
	margin-top : 0px;
	background : lightgray;
	padding : 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	font-family : "BebasNeue";
	color :#646fc1;
}
main aside#about p{
	background-color : rgba(255, 255, 255, 0.5);
	margin : 20px;
	padding : 5px;
	text-align : center;
	color : purple;
}

main aside#github{
	width : 80%;
	float : left;
	background : white;
}
main aside#github p{
	text-align: center;
	margin : 20px;
	font-family : "BebasNeue regular";
}
main aside#github p address{
	display : inline;
}
main aside#github a[href^="https"]{
	display : block;
	width : 20%;
	padding : 10px;
	margin : auto;
	text-align : center;
	text-decoration: none;
	color : white;
	background-image : linear-gradient(to top, #9a25e6, #646fc1);
	border-radius : 8px;
}
main aside#github a[href^="https"]:hover{
	color : cyan;
	box-shadow : 2px 1px 50px;
}

/*--------------------------------------------------------------
Tout ce qui concerne le footer */
body > footer{
	width : 70%;
	margin : auto;
	background : linear-gradient(to bottom, #9a25e6, rgba(255,255,255,0.3));
	position : relative;
	clear : both;
}
body > footer > *{
	display : inline-block;
	width : 25%;
	margin-right: 50px;
	padding-right : 20px;
	text-align : center;
	padding-bottom : 15px;
	vertical-align: text-top;
}
body > footer img[src$="usthb.png"]{
	width : 100px;
	text-align : center;
	border-radius : 8px;
}
body > footer #copyright{
	display: block;
	text-align : center;
	width : 100%;
}
h4 + div, h4 + address {
	margin-top : 45px;
}
nav li a[href="#"] {
	box-shadow : inset 5px 5px 15px rgba(0,0,0,0.5);
	border-top-left-radius: 8px;
	border-top-right-radius: 8px
}

/* ----------------------------------------------------------------
Tout ce qui concerne les cours */

main#cours{
	background : white;
	box-shadow: 4px 4px 20px;
}
main#cours > section{
	border-bottom : 2px solid blue;
	padding-bottom : 20px;
}
main#cours > section > header h1{
	text-align : center;
	color : #646fc1;
	font-family : "BebasNeue";
	font-size : 40px;
}
main#cours h2{
	color : #646fc1;
	font-family : "BebasNeue";
	font-size : 25px;
	text-decoration : underline;
}
main#cours h3, main#cours h4{
	color : #9a25e6;
	font-family : "BebasNeue";
}
main#cours p{
	text-align : justify;
	text-indent : 20px;
}
main#cours img{
	width : 600px;
	height : 250px;
	margin :auto;
	margin-top : 20px;
	margin-bottom : 20px;
	display : block;

}
main#cours footer{
	float : right;
}
main#cours table thead{
	background-color : purple;
	color : white;
	font-family : "BebasNeue regular";
}
main#cours table thead th{
	padding : 5px;
}
main#cours table thead{
	background-color : purple;
	color : white;
}
main#cours table tbody{
	 background : lightgray;
}
main#cours table tbody td{
	text-align : center;
	padding : 5px;
}
main#cours table tbody td:hover{
	background : gray;
	cursor : crosshair;
}
main#cours table {
	box-shadow: 5px 5px 15px;
	caption-side : bottom;
	margin : auto;
	margin-bottom : 30px;
	width : 500px;
}
main#cours table caption{
	font-family : "BebasNeue book";
	margin-top : 5px;
	/*box-shadow : 5px 5px 15px;*/
	padding-top : 5px;
}
main#cours table caption:hover{
	font-family : "BebasNeue";
	cursor : pointer;
}
main#cours .remarque {
	box-shadow : 2px 2px 10px;
	border-radius : 8px;
	padding : 2px;
	margin : 10px;
}

